html:hover [class^='ss-'] {
  -ms-zoom: 1;
}
.ss-icon,
[class^='ss-']:before,
[class*=' ss-']:before,
[class^='ss-'].right:after,
[class*=' ss-'].right:after {
  font-style: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga=1';
  -moz-font-feature-settings: 'liga';
  -ms-font-feature-settings: 'liga' 1;
  -o-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^='ss-'].right:before,
[class*=' ss-'].right:before {
  display: none;
  content: '';
}
.ss-icon,
[class^='ss-']:before,
[class*=' ss-']:before,
[class^='ss-'].right:after,
[class*=' ss-'].right:after,
.ss-icon.ss-collaborative-fund-social-circle,
[class^='ss-'].ss-collaborative-fund-social-circle:before,
[class*=' ss-'].ss-collaborative-fund-social-circle:before,
[class^='ss-'].ss-collaborative-fund-social-circle.right:after,
[class*=' ss-'].ss-collaborative-fund-social-circle.right:after {
  font-weight: normal;
  font-family: 'SS CollaborativeFundSocialCircle';
}
.ss-facebook:before,
.ss-facebook.right:after {
  content: '';
}
.ss-twitter:before,
.ss-twitter.right:after {
  content: '';
}
.ss-linkedin:before,
.ss-linkedin.right:after {
  content: '';
}
.ss-reddit:before,
.ss-reddit.right:after {
  content: '';
}
.ss-instagram:before,
.ss-instagram.right:after {
  content: '';
}
.ss-tumblr:before,
.ss-tumblr.right:after {
  content: '';
}
.ss-mail:before,
.ss-mail.right:after {
  content: '✉';
}
.ss-kickstarter:before,
.ss-kickstarter.right:after {
  content: '';
}
.ss-soundcloud:before,
.ss-soundcloud.right:after {
  content: '';
}
.ss-vimeo:before,
.ss-vimeo.right:after {
  content: '';
}
.ss-link:before,
.ss-link.right:after {
  content: '🔗';
}
.ss-flickr:before,
.ss-flickr.right:after {
  content: '';
}
@font-face {
  font-family: 'SS CollaborativeFundSocialRegular';
  src: url('/assets/fonts/ss-collaborative-fund-social-regular.eot');
  src: url('/assets/fonts/ss-collaborative-fund-social-regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/ss-collaborative-fund-social-regular.woff') format('woff'),
    url('/assets/fonts/ss-collaborative-fund-social-regular.ttf') format('truetype'),
    url('/assets/fonts/ss-collaborative-fund-social-regular.svg#CollaborativeFundSocialRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html:hover [class^='ss-'] {
  -ms-zoom: 1;
}
.ss-icon,
[class^='ss-']:before,
[class*=' ss-']:before,
[class^='ss-'].right:after,
[class*=' ss-'].right:after {
  font-style: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga=1';
  -moz-font-feature-settings: 'liga';
  -ms-font-feature-settings: 'liga' 1;
  -o-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^='ss-'].right:before,
[class*=' ss-'].right:before {
  display: none;
  content: '';
}
.ss-icon,
[class^='ss-']:before,
[class*=' ss-']:before,
[class^='ss-'].right:after,
[class*=' ss-'].right:after,
.ss-icon.ss-collaborative-fund-social-regular,
[class^='ss-'].ss-collaborative-fund-social-regular:before,
[class*=' ss-'].ss-collaborative-fund-social-regular:before,
[class^='ss-'].ss-collaborative-fund-social-regular.right:after,
[class*=' ss-'].ss-collaborative-fund-social-regular.right:after {
  font-weight: normal;
  font-family: 'SS CollaborativeFundSocialRegular';
}
.ss-vimeo:before,
.ss-vimeo.right:after {
  content: '';
}
.ss-twitter:before,
.ss-twitter.right:after {
  content: '';
}
.ss-reddit:before,
.ss-reddit.right:after {
  content: '';
}
.ss-instagram:before,
.ss-instagram.right:after {
  content: '';
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
.longform .pull-quote,
.mobile-nav__link,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
.footnotes,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes pedal-1 {
  0%,
  74% {
    visibility: hidden;
  }
  75%,
  100% {
    visibility: visible;
  }
}
@-moz-keyframes pedal-1 {
  0%,
  74% {
    visibility: hidden;
  }
  75%,
  100% {
    visibility: visible;
  }
}
@-ms-keyframes pedal-1 {
  0%,
  74% {
    visibility: hidden;
  }
  75%,
  100% {
    visibility: visible;
  }
}
@-o-keyframes pedal-1 {
  0%,
  74% {
    visibility: hidden;
  }
  75%,
  100% {
    visibility: visible;
  }
}
@keyframes pedal-1 {
  0%,
  74% {
    visibility: hidden;
  }
  75%,
  100% {
    visibility: visible;
  }
}
@-webkit-keyframes pedal-2 {
  0%,
  24% {
    visibility: visible;
  }
  25%,
  100% {
    visibility: hidden;
  }
}
@-moz-keyframes pedal-2 {
  0%,
  24% {
    visibility: visible;
  }
  25%,
  100% {
    visibility: hidden;
  }
}
@-ms-keyframes pedal-2 {
  0%,
  24% {
    visibility: visible;
  }
  25%,
  100% {
    visibility: hidden;
  }
}
@-o-keyframes pedal-2 {
  0%,
  24% {
    visibility: visible;
  }
  25%,
  100% {
    visibility: hidden;
  }
}
@keyframes pedal-2 {
  0%,
  24% {
    visibility: visible;
  }
  25%,
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes pedal-3 {
  0%,
  24%,
  50%,
  100% {
    visibility: hidden;
  }
  25%,
  49% {
    visibility: visible;
  }
}
@-moz-keyframes pedal-3 {
  0%,
  24%,
  50%,
  100% {
    visibility: hidden;
  }
  25%,
  49% {
    visibility: visible;
  }
}
@-ms-keyframes pedal-3 {
  0%,
  24%,
  50%,
  100% {
    visibility: hidden;
  }
  25%,
  49% {
    visibility: visible;
  }
}
@-o-keyframes pedal-3 {
  0%,
  24%,
  50%,
  100% {
    visibility: hidden;
  }
  25%,
  49% {
    visibility: visible;
  }
}
@keyframes pedal-3 {
  0%,
  24%,
  50%,
  100% {
    visibility: hidden;
  }
  25%,
  49% {
    visibility: visible;
  }
}
@-webkit-keyframes pedal-4 {
  0%,
  49%,
  75%,
  100% {
    visibility: hidden;
  }
  50%,
  74% {
    visibility: visible;
  }
}
@-moz-keyframes pedal-4 {
  0%,
  49%,
  75%,
  100% {
    visibility: hidden;
  }
  50%,
  74% {
    visibility: visible;
  }
}
@-ms-keyframes pedal-4 {
  0%,
  49%,
  75%,
  100% {
    visibility: hidden;
  }
  50%,
  74% {
    visibility: visible;
  }
}
@-o-keyframes pedal-4 {
  0%,
  49%,
  75%,
  100% {
    visibility: hidden;
  }
  50%,
  74% {
    visibility: visible;
  }
}
@keyframes pedal-4 {
  0%,
  49%,
  75%,
  100% {
    visibility: hidden;
  }
  50%,
  74% {
    visibility: visible;
  }
}
@-webkit-keyframes swipe-1 {
  0%,
  66% {
    visibility: visible;
  }
  67%,
  100% {
    visibility: hidden;
  }
}
@-moz-keyframes swipe-1 {
  0%,
  66% {
    visibility: visible;
  }
  67%,
  100% {
    visibility: hidden;
  }
}
@-ms-keyframes swipe-1 {
  0%,
  66% {
    visibility: visible;
  }
  67%,
  100% {
    visibility: hidden;
  }
}
@-o-keyframes swipe-1 {
  0%,
  66% {
    visibility: visible;
  }
  67%,
  100% {
    visibility: hidden;
  }
}
@keyframes swipe-1 {
  0%,
  66% {
    visibility: visible;
  }
  67%,
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes swipe-2 {
  0%,
  66% {
    visibility: hidden;
  }
  67%,
  75% {
    visibility: visible;
  }
  76%,
  100% {
    visibility: hidden;
  }
}
@-moz-keyframes swipe-2 {
  0%,
  66% {
    visibility: hidden;
  }
  67%,
  75% {
    visibility: visible;
  }
  76%,
  100% {
    visibility: hidden;
  }
}
@-ms-keyframes swipe-2 {
  0%,
  66% {
    visibility: hidden;
  }
  67%,
  75% {
    visibility: visible;
  }
  76%,
  100% {
    visibility: hidden;
  }
}
@-o-keyframes swipe-2 {
  0%,
  66% {
    visibility: hidden;
  }
  67%,
  75% {
    visibility: visible;
  }
  76%,
  100% {
    visibility: hidden;
  }
}
@keyframes swipe-2 {
  0%,
  66% {
    visibility: hidden;
  }
  67%,
  75% {
    visibility: visible;
  }
  76%,
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes swipe-3 {
  0%,
  75% {
    visibility: hidden;
  }
  76% {
    visibility: visible;
  }
  77%,
  100% {
    visibility: hidden;
  }
}
@-moz-keyframes swipe-3 {
  0%,
  75% {
    visibility: hidden;
  }
  76% {
    visibility: visible;
  }
  77%,
  100% {
    visibility: hidden;
  }
}
@-ms-keyframes swipe-3 {
  0%,
  75% {
    visibility: hidden;
  }
  76% {
    visibility: visible;
  }
  77%,
  100% {
    visibility: hidden;
  }
}
@-o-keyframes swipe-3 {
  0%,
  75% {
    visibility: hidden;
  }
  76% {
    visibility: visible;
  }
  77%,
  100% {
    visibility: hidden;
  }
}
@keyframes swipe-3 {
  0%,
  75% {
    visibility: hidden;
  }
  76% {
    visibility: visible;
  }
  77%,
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes swipe-4 {
  0%,
  76% {
    visibility: hidden;
  }
  77%,
  78% {
    visibility: visible;
  }
  79%,
  100% {
    visibility: hidden;
  }
}
@-moz-keyframes swipe-4 {
  0%,
  76% {
    visibility: hidden;
  }
  77%,
  78% {
    visibility: visible;
  }
  79%,
  100% {
    visibility: hidden;
  }
}
@-ms-keyframes swipe-4 {
  0%,
  76% {
    visibility: hidden;
  }
  77%,
  78% {
    visibility: visible;
  }
  79%,
  100% {
    visibility: hidden;
  }
}
@-o-keyframes swipe-4 {
  0%,
  76% {
    visibility: hidden;
  }
  77%,
  78% {
    visibility: visible;
  }
  79%,
  100% {
    visibility: hidden;
  }
}
@keyframes swipe-4 {
  0%,
  76% {
    visibility: hidden;
  }
  77%,
  78% {
    visibility: visible;
  }
  79%,
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes swipe-5 {
  0%,
  78% {
    visibility: hidden;
  }
  79%,
  87% {
    visibility: visible;
  }
  88%,
  100% {
    visibility: hidden;
  }
}
@-moz-keyframes swipe-5 {
  0%,
  78% {
    visibility: hidden;
  }
  79%,
  87% {
    visibility: visible;
  }
  88%,
  100% {
    visibility: hidden;
  }
}
@-ms-keyframes swipe-5 {
  0%,
  78% {
    visibility: hidden;
  }
  79%,
  87% {
    visibility: visible;
  }
  88%,
  100% {
    visibility: hidden;
  }
}
@-o-keyframes swipe-5 {
  0%,
  78% {
    visibility: hidden;
  }
  79%,
  87% {
    visibility: visible;
  }
  88%,
  100% {
    visibility: hidden;
  }
}
@keyframes swipe-5 {
  0%,
  78% {
    visibility: hidden;
  }
  79%,
  87% {
    visibility: visible;
  }
  88%,
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes swipe-6 {
  0%,
  87% {
    visibility: hidden;
  }
  88%,
  96% {
    visibility: visible;
  }
  97%,
  100% {
    visibility: hidden;
  }
}
@-moz-keyframes swipe-6 {
  0%,
  87% {
    visibility: hidden;
  }
  88%,
  96% {
    visibility: visible;
  }
  97%,
  100% {
    visibility: hidden;
  }
}
@-ms-keyframes swipe-6 {
  0%,
  87% {
    visibility: hidden;
  }
  88%,
  96% {
    visibility: visible;
  }
  97%,
  100% {
    visibility: hidden;
  }
}
@-o-keyframes swipe-6 {
  0%,
  87% {
    visibility: hidden;
  }
  88%,
  96% {
    visibility: visible;
  }
  97%,
  100% {
    visibility: hidden;
  }
}
@keyframes swipe-6 {
  0%,
  87% {
    visibility: hidden;
  }
  88%,
  96% {
    visibility: visible;
  }
  97%,
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes swipe-7 {
  0%,
  97% {
    visibility: hidden;
  }
  98% {
    visibility: visible;
  }
  99%,
  100% {
    visibility: hidden;
  }
}
@-moz-keyframes swipe-7 {
  0%,
  97% {
    visibility: hidden;
  }
  98% {
    visibility: visible;
  }
  99%,
  100% {
    visibility: hidden;
  }
}
@-ms-keyframes swipe-7 {
  0%,
  97% {
    visibility: hidden;
  }
  98% {
    visibility: visible;
  }
  99%,
  100% {
    visibility: hidden;
  }
}
@-o-keyframes swipe-7 {
  0%,
  97% {
    visibility: hidden;
  }
  98% {
    visibility: visible;
  }
  99%,
  100% {
    visibility: hidden;
  }
}
@keyframes swipe-7 {
  0%,
  97% {
    visibility: hidden;
  }
  98% {
    visibility: visible;
  }
  99%,
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes swipe-8 {
  0%,
  98% {
    visibility: hidden;
  }
  99%,
  100% {
    visibility: visible;
  }
}
@-moz-keyframes swipe-8 {
  0%,
  98% {
    visibility: hidden;
  }
  99%,
  100% {
    visibility: visible;
  }
}
@-ms-keyframes swipe-8 {
  0%,
  98% {
    visibility: hidden;
  }
  99%,
  100% {
    visibility: visible;
  }
}
@-o-keyframes swipe-8 {
  0%,
  98% {
    visibility: hidden;
  }
  99%,
  100% {
    visibility: visible;
  }
}
@keyframes swipe-8 {
  0%,
  98% {
    visibility: hidden;
  }
  99%,
  100% {
    visibility: visible;
  }
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html,
body {
  overflow-x: hidden;
}
html {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 21px;
}
@media only screen and (max-width: 639px) {
  html {
    font-size: 19px;
  }
}
body {
  font-family: 'adelle-sans', sans-serif;
  line-height: 1.666667;
  -webkit-font-smoothing: antialiased;
  -font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: #161616;
  background: #fff;
}
img,
video,
iframe {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
.longform .pull-quote,
.mobile-nav__link,
h3,
h4,
h5,
h6 {
  font-family: 'adelle-sans', sans-serif;
}
h1,
h2,
.longform .pull-quote,
.mobile-nav__link,
h3,
h4,
h5 {
  font-weight: 700;
}
h1 {
  font-size: 3em;
  line-height: 1.2;
  margin-bottom: 0.41666675rem;
}
@media only screen and (max-width: 639px) {
  h1 {
    font-size: 2.5em;
  }
}
h2,
.longform .pull-quote,
.mobile-nav__link {
  font-size: 2em;
  line-height: 1.25;
}
@media only screen and (max-width: 639px) {
  h2,
  .longform .pull-quote,
  .mobile-nav__link {
    font-size: 1.75em;
  }
}
h3 {
  font-size: 1.333333em;
}
@media only screen and (max-width: 639px) {
  h3 {
    font-size: 1.333333em;
  }
}
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}
h4 {
  font-size: 1.166667em;
}
h6 {
  font-size: 0.916667em;
  opacity: 0.4;
}
strong,
b,
.bold {
  font-weight: 700;
}
em,
i,
.italic {
  font-style: italic;
}
small,
.footnotes,
.small {
  font-size: 0.916667em;
}
.large {
  font-size: 1.25em;
}
pre,
code,
kbd,
samp {
  font-family: monospace;
  overflow: auto;
  white-space: pre;
}
pre,
code {
  background: rgba(22, 22, 22, 0.025);
  color: rgba(22, 22, 22, 0.7);
  font-size: 0.916667em;
}
pre {
  padding: 1em;
}
pre code {
  font-size: 1em;
  background: transparent;
}
hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: rgba(22, 22, 22, 0.075);
}
.longform {
  font-family: georgia, serif;
  color: rgba(22, 22, 22, 0.9);
}
.longform a:not(.button):not(.post__tag__link) {
  box-shadow: inset 0 -0.333333em rgba(22, 22, 22, 0.175);
  transition: all 50ms;
}
.longform a:not(.button):not(.post__tag__link):hover {
  color: #161616;
  box-shadow: none;
  background: rgba(22, 22, 22, 0.175);
}
.longform h1,
.longform h2,
.longform .pull-quote,
.longform .mobile-nav__link,
.longform h3,
.longform h4,
.longform h5,
.longform h6 {
  color: #161616;
  clear: both;
}
.longform h2,
.longform .pull-quote,
.longform .mobile-nav__link,
.longform h3,
.longform h4,
.longform h5,
.longform h6 {
  margin-top: 2.5000005rem;
  margin-bottom: 0.41666675rem;
}
.longform p,
.longform ol,
.longform ul,
.longform blockquote,
.longform pre,
.longform figure,
.longform table {
  margin-bottom: 1.666667rem;
}
.longform img,
.longform .fluid-width-video-wrapper {
  margin-top: 3.333334rem;
  margin-bottom: 3.333334rem;
}
.longform hr {
  margin-top: 3.333334rem;
  margin-bottom: 3.333334rem;
  height: 0.1em;
  max-width: 5em;
  text-align: center;
  background: rgba(22, 22, 22, 0.1);
}
.longform ol,
.longform ul {
  padding-left: 1.2em;
}
.longform ol {
  list-style-type: decimal;
}
.longform ul {
  list-style-type: disc;
}
.longform ul ul {
  list-style-type: circle;
  margin-bottom: 0;
}
.longform blockquote {
  padding-left: 1em;
  padding-right: 1.2em;
  border-left: 0.2em solid rgba(22, 22, 22, 0.1);
  font-style: italic;
}
.longform blockquote em {
  font-style: normal;
}
.longform sup {
  font-size: 0.833333em;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
.longform small,
.longform .footnotes {
  color: rgba(22, 22, 22, 0.5);
}
.longform ol,
.longform ul,
.longform blockquote,
.longform pre,
.longform table {
  clear: both;
}
.longform .twitter-tweet {
  margin-bottom: 1.666667rem !important;
}
.longform .pull-quote {
  margin-top: 3.333334rem;
  margin-bottom: 3.333334rem;
}
.longform .caption {
  font-size: 0.833333em;
  font-family: 'adelle-sans', sans-serif;
  color: rgba(22, 22, 22, 0.4);
  margin-top: -2.91666725rem;
  margin-bottom: 3.333334rem;
}
.drop > p:first-of-type {
  margin-top: 2.5000005rem;
}
@media only screen and (min-width: 640px) {
  .drop > p:first-of-type {
    font-size: 1.25em;
    margin-bottom: 2.5000005rem;
  }
}
.drop > p:first-of-type:first-letter {
  color: #161616;
  font-size: 5.5em;
  font-family: 'adelle-sans', sans-serif;
  font-weight: 700;
  line-height: 0.82;
  margin-left: 0;
  padding-right: 0.333333em;
  padding-bottom: 1.666667rem;
  float: left;
}
.longform--short img,
.longform--short .fluid-width-video-wrapper {
  margin-top: 1.666667rem;
  margin-bottom: 1.666667rem;
}
.longform--short .caption {
  margin-top: -1.25000025rem;
  margin-bottom: 1.666667rem;
}
.longform--short p {
  margin-bottom: 0.8333335rem;
}
.footnotes {
  margin-top: 3.333334rem;
}
.footnotes:before {
  display: block;
  content: '';
  height: 1px;
  width: 4em;
  background: rgba(22, 22, 22, 0.2);
  margin-bottom: 0.8333335rem;
}
.sc,
.header__tab__link,
.button,
.post__tag__link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.833333em;
  letter-spacing: 0.01em;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media only screen and (max-width: 639px) {
  .container {
    padding-left: 4.166667%;
    padding-right: 4.166667%;
  }
}
.container--narrow {
  max-width: 37rem;
}
.container--wide {
  max-width: 1170px;
}
.row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (max-width: 639px) {
  .row {
    margin-left: -2.0833335%;
    margin-right: -2.0833335%;
  }
}
.col {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
@media only screen and (max-width: 639px) {
  .col {
    padding-left: 2.0833335%;
    padding-right: 2.0833335%;
  }
}
.quarter {
  width: 25%;
}
@media only screen and (max-width: 989px) {
  .quarter {
    width: 33.3333333333%;
  }
}
@media only screen and (max-width: 809px) {
  .quarter {
    width: 50%;
  }
}
@media only screen and (max-width: 419px) {
  .quarter {
    width: 100%;
  }
}
.three-quarters {
  width: 75%;
}
@media only screen and (max-width: 989px) {
  .three-quarters {
    width: 66.6666666667%;
  }
}
@media only screen and (max-width: 809px) {
  .three-quarters {
    width: 50%;
  }
}
@media only screen and (max-width: 419px) {
  .three-quarters {
    width: 100%;
  }
}
.third {
  width: 33.3333333333%;
}
@media only screen and (max-width: 809px) {
  .third {
    width: 50%;
  }
}
@media only screen and (max-width: 419px) {
  .third {
    width: 100%;
  }
}
.two-thirds {
  width: 66.6666666667%;
}
@media only screen and (max-width: 639px) {
  .two-thirds {
    width: 100%;
  }
}
.half {
  width: 50%;
}
@media only screen and (max-width: 809px) {
  .half {
    width: 100%;
  }
}
.header {
  position: relative;
  background: inherit;
}
.header__logo {
  position: absolute;
  top: 0.81666675rem;
  left: 1.5rem;
  z-index: 1;
}
@media only screen and (min-width: 1350px) {
  .header__logo {
    position: fixed;
  }
}
@media only screen and (max-width: 639px) {
  .header__logo {
    left: 4.166667%;
  }
}
.hexagon,
.c {
  height: 3.0555556111rem;
}
.hexagon {
  fill: #161616;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.5, 0, 0.5, 1.666667);
  -moz-transition: -moz-transform 400ms cubic-bezier(0.5, 0, 0.5, 1.666667);
  -o-transition: -o-transform 400ms cubic-bezier(0.5, 0, 0.5, 1.666667);
  transition: transform 400ms cubic-bezier(0.5, 0, 0.5, 1.666667);
}
.header__logo:hover .hexagon {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
.c {
  fill: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.footer {
  font-size: 0.916667em;
  margin-top: 6.666668rem;
  margin-bottom: 5.000001rem;
}
.header__nav {
  padding-top: 0.41666675rem;
  position: relative;
}
.footer__nav {
  margin-bottom: 0.8333335rem;
}
.footer__socials {
  display: inline;
}
.footer__social {
  display: inline-block;
}
.footer__social:not(:last-of-type):after {
  content: ',\00a0';
  color: rgba(22, 22, 22, 0.4);
}
.header__item,
.footer__item,
.header__item__link,
.footer__item__link {
  display: inline-block;
}
.header__item__link {
  cursor: pointer;
  padding: 1em 0.5em;
}
.footer__item__link {
  padding: 0.2em 0.4em;
}
.mobile-nav .active {
  opacity: 0.6;
}
.footer__item--social {
  font-size: 1.333333em;
  margin-left: 0.333333em;
  margin-right: 0.333333em;
}
.header--cover {
  display: block;
  background-size: cover;
  background-position: center;
  width: 100%;
  color: #fff;
}
.fader {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.header__header {
  position: relative;
  text-align: center;
  max-width: 1050px;
  padding-top: 4.1666675rem;
  padding-bottom: 1.666667rem;
}
.header--cover .header__header {
  padding-bottom: 8.333335rem;
}
@media only screen and (max-width: 639px) {
  .header__header {
    padding-top: 3.333334rem;
  }
  .header--cover .header__header {
    padding-bottom: 6.666668rem;
  }
}
.header--about .header__header {
  max-width: 37rem;
  text-align: left;
}
.header__tabs-wrap {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.header__tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
}
.header__tab {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.header__tab + .header__tab {
  margin-left: 1em;
}
.header__tab__link {
  display: inline-block;
  padding-top: 0.8333335rem;
  padding-bottom: 0.8333335rem;
}
#mobile-nav-open {
  display: none;
}
@media only screen and (max-width: 568px) {
  .hide-mobile {
    display: none;
  }
  .header__nav {
    padding-top: 0;
  }
  #mobile-nav-open {
    display: inline-block;
  }
}
.mobile-nav {
  display: none;
  background-color: #161616;
  color: #fff;
  overflow-y: scroll;
  visibility: hidden;
  top: -999em;
  left: -999em;
  height: 0;
  width: 0;
  opacity: 0;
  -webkit-transition: opacity 150ms;
  -o-transition: opacity 150ms;
  transition: opacity 150ms;
}
@media only screen and (max-width: 568px) {
  .js .mobile-nav {
    display: block;
  }
}
.is-mobile-nav-open .mobile-nav {
  height: 100%;
  width: 100%;
  visibility: visible;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 1;
}
.mobile-nav__menu {
  margin-top: 1.666667rem;
  margin-bottom: 1.666667rem;
}
.mobile-nav__link {
  display: block;
  padding-top: 0.5555556667rem;
  padding-bottom: 0.5555556667rem;
}
.intro {
  margin-top: 5.000001rem;
  margin-bottom: 1.666667rem;
}
.intro__content {
  font-size: 1.25em;
}
@media only screen and (max-width: 639px) {
  .intro__content {
    font-size: 1.166667em;
  }
}
.home__category {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  position: relative;
}
.home__figure {
  position: relative;
  display: block;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 50%;
}
.cities .home__figure {
  background-image: url('/assets/images/home--cities.svg');
}
.kids .home__figure {
  background-image: url('/assets/images/home--kids.svg');
}
@media only screen and (max-width: 989px) {
  .kids .home__figure {
    background-image: url('/assets/images/home--kids--small.svg');
  }
}
.consumer .home__figure {
  background-image: url('/assets/images/home--consumer.svg');
}
@media only screen and (max-width: 989px) {
  .consumer .home__figure {
    background-image: url('/assets/images/home--consumer--small.svg');
  }
}
.health .home__figure {
  background-image: url('/assets/images/home--health.svg');
}
@media only screen and (max-width: 989px) {
  .health .home__figure {
    background-image: url('/assets/images/home--health--small.svg');
  }
}
.money .home__figure {
  background-image: url('/assets/images/home--money.svg');
}
.js-graphic {
  -webkit-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
}
.home__figure__clouds {
  position: absolute;
  top: 0;
  z-index: -1;
}
@media only screen and (max-width: 989px) {
  .home__figure__background {
    display: none;
  }
}
@media only screen and (min-width: 990px) {
  .home__figure__background--small {
    display: none;
  }
}
.cities__sun {
  position: absolute;
  width: 5%;
  top: 16%;
  right: 34.5%;
  -webkit-animation: spin 24s linear infinite;
  -o-animation: spin 24s linear infinite;
  animation: spin 24s linear infinite;
}
.cities__car {
  position: absolute;
  width: 12.5%;
  bottom: 8.2%;
}
.kids__bike {
  position: absolute;
  width: 12.5%;
  bottom: 7.5%;
}
.bike {
  position: absolute;
}
.bike .frame {
  position: absolute;
  bottom: 0;
  visibility: hidden;
}
.bike .frame--1 {
  visibility: visible;
}
.bike.is-scrolling.is-shifting .frame--1 {
  -webkit-animation: pedal-1 1s infinite;
  -o-animation: pedal-1 1s infinite;
  animation: pedal-1 1s infinite;
}
.bike.is-scrolling.is-shifting .frame--2 {
  -webkit-animation: pedal-2 1s infinite;
  -o-animation: pedal-2 1s infinite;
  animation: pedal-2 1s infinite;
}
.bike.is-scrolling.is-shifting .frame--3 {
  -webkit-animation: pedal-3 1s infinite;
  -o-animation: pedal-3 1s infinite;
  animation: pedal-3 1s infinite;
}
.bike.is-scrolling.is-shifting .frame--4 {
  -webkit-animation: pedal-4 1s infinite;
  -o-animation: pedal-4 1s infinite;
  animation: pedal-4 1s infinite;
}
.kids__swipe {
  position: absolute;
  width: 12.5%;
  bottom: 20%;
  right: 26.25%;
}
.kids__swipe .frame {
  position: absolute;
  bottom: 0;
  visibility: hidden;
}
.kids__swipe .frame--1 {
  visibility: visible;
}
.kids__swipe .frame--1 {
  -webkit-animation: swipe-1 4s infinite;
  -o-animation: swipe-1 4s infinite;
  animation: swipe-1 4s infinite;
}
.kids__swipe .frame--2 {
  -webkit-animation: swipe-2 4s infinite;
  -o-animation: swipe-2 4s infinite;
  animation: swipe-2 4s infinite;
}
.kids__swipe .frame--3 {
  -webkit-animation: swipe-3 4s infinite;
  -o-animation: swipe-3 4s infinite;
  animation: swipe-3 4s infinite;
}
.kids__swipe .frame--4 {
  -webkit-animation: swipe-4 4s infinite;
  -o-animation: swipe-4 4s infinite;
  animation: swipe-4 4s infinite;
}
.kids__swipe .frame--5 {
  -webkit-animation: swipe-5 4s infinite;
  -o-animation: swipe-5 4s infinite;
  animation: swipe-5 4s infinite;
}
.kids__swipe .frame--6 {
  -webkit-animation: swipe-6 4s infinite;
  -o-animation: swipe-6 4s infinite;
  animation: swipe-6 4s infinite;
}
.kids__swipe .frame--7 {
  -webkit-animation: swipe-7 4s infinite;
  -o-animation: swipe-7 4s infinite;
  animation: swipe-7 4s infinite;
}
.kids__swipe .frame--8 {
  -webkit-animation: swipe-8 4s infinite;
  -o-animation: swipe-8 4s infinite;
  animation: swipe-8 4s infinite;
}
.consumer__car {
  position: absolute;
  width: 15%;
  bottom: 8.6%;
}
.health__bike {
  position: absolute;
  width: 12.5%;
  bottom: 20.2%;
}
.money__coin-slot {
  position: absolute;
  width: 5%;
  left: 29%;
  top: 47.5%;
  pointer-events: none;
}
.money__coin {
  position: absolute;
  width: 5%;
  left: 29%;
}
.home__text {
  padding-top: 2.08333375rem;
  padding-bottom: 2.91666725rem;
}
@media only screen and (min-width: 990px) {
  .home__text {
    height: 360px;
  }
}
@media only screen and (min-width: 990px) {
  .kids .home__text {
    background-image: url('/assets/images/home--kids--text.svg');
    background-size: cover;
  }
}
@media only screen and (min-width: 990px) {
  .consumer .home__text {
    background-image: url('/assets/images/home--consumer--text.svg');
    background-size: cover;
  }
}
.money .home__text {
  background-repeat: no-repeat;
}
@media only screen and (min-width: 990px) {
  .money .home__text {
    background-image: url('/assets/images/home--money--text.svg');
  }
}
.home__overhang {
  display: none;
}
@media only screen and (min-width: 1441px) {
  .home__overhang {
    display: block;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    width: 420px;
  }
  .cities .home__overhang {
    left: 0;
    margin-left: -420px;
    height: 1800px;
    background-image: url('/assets/images/home--cities--overhang.svg');
  }
  .health .home__overhang {
    right: 0;
    margin-right: -420px;
    height: 1320px;
    background-image: url('/assets/images/home--health--overhang.svg');
  }
  .money .home__overhang {
    left: 0;
    margin-left: -420px;
    height: 1320px;
    background-image: url('/assets/images/home--money--overhang.svg');
  }
}
.home__heading {
  margin-bottom: 0.41666675rem;
}
.post-preview {
  margin-top: 3.333334rem;
  margin-bottom: 5.000001rem;
}
.post-preview__header {
  margin-bottom: 1.25000025rem;
}
.post-item {
  margin-top: 2.5000005rem;
  margin-bottom: 2.5000005rem;
}
.post-item:last-of-type {
  margin-bottom: 3.333334rem;
}
.author-item {
  margin-bottom: 3.333334rem;
}
.author-bio {
  margin-top: 0.41666675rem;
  margin-bottom: 2.5000005rem;
}
.author-bio:first-child {
  margin-top: 3.333334rem;
}
.authors-link {
  margin-bottom: 2.5000005rem;
}
.investment-items {
  margin-bottom: 5.000001rem;
}
.investment-item {
  margin-bottom: 1.25000025rem;
}
.people {
  margin-top: 5.000001rem;
}
.person {
  margin-bottom: 3.333334rem;
}
.investor {
  margin-bottom: 3.333334rem;
}
.subsection {
  margin-top: 3.333334rem;
  margin-bottom: 3.333334rem;
}
.subsection__title {
  margin-bottom: 3.333334rem;
}
.subsection__title--short {
  margin-bottom: 2.5000005rem;
}
.post {
  margin-top: 3.333334rem;
  margin-bottom: 5.000001rem;
}
.post__meta {
  display: inline-block;
}
.header--cover .post__meta {
  position: absolute;
  width: 100%;
  left: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media only screen and (max-width: 639px) {
  .header--cover .post__meta {
    padding-left: 4.166667%;
    padding-right: 4.166667%;
  }
}
h1 + .post__meta {
  margin-top: 0.41666675rem;
}
h2 + .post__meta,
.longform .pull-quote + .post__meta,
.mobile-nav__link + .post__meta {
  margin-top: 0.2777778333rem;
}
.post__intro {
  margin-top: 2.5000005rem;
  margin-bottom: 2.5000005rem;
  font-style: italic;
}
.post__intro em {
  font-style: normal;
}
.post__footer {
  clear: both;
}
.share {
  margin-top: 5.000001rem;
  margin-bottom: 2.5000005rem;
  font-size: 2.5em;
  line-height: 1;
}
.share__item {
  display: inline-block;
  margin-left: 0.125em;
  margin-right: 0.125em;
  line-height: 1;
}
.share__item .twitter {
  color: #55acee;
}
.share__item .twitter:hover {
  color: #161616;
}
.share__item .facebook {
  color: #3b5998;
}
.share__item .facebook:hover {
  color: #161616;
}
.share__item .email {
  color: rgba(22, 22, 22, 0.5);
}
.share__item .email:hover {
  color: #161616;
}
.post__tags {
  margin-top: 1.666667rem;
}
.post__tags:empty {
  display: none;
}
.post__tag {
  display: inline-block;
  font-size: 0.916667em;
}
.post__tag__count {
  font-weight: 400;
}
.post__tag__link {
  background: rgba(22, 22, 22, 0.05);
  color: rgba(22, 22, 22, 0.5);
  padding: 0.3em 0.6em;
  margin: 0 1.5px;
  -webkit-transition: opacity 50ms;
  -o-transition: opacity 50ms;
  transition: opacity 50ms;
}
.post__tag__link:hover {
  background: rgba(22, 22, 22, 0.075);
}
.newsletter {
  margin-top: 2.5000005rem;
  border: 1px solid rgba(22, 22, 22, 0.075);
  padding: 1.666667rem;
}
.newsletter__form {
  margin-top: 1.1111113333rem;
  margin-bottom: 0.5555556667rem;
  position: relative;
  width: 100%;
  max-width: 22.5rem;
  padding-right: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}
.newsletter__email {
  width: 100%;
  border: 1px solid rgba(22, 22, 22, 0.075);
}
.newsletter__email::-moz-placeholder {
  color: rgba(22, 22, 22, 0.4);
  opacity: 1;
}
.newsletter__email:-ms-input-placeholder {
  color: rgba(22, 22, 22, 0.4);
}
.newsletter__email::-webkit-input-placeholder {
  color: rgba(22, 22, 22, 0.4);
}
.newsletter__submit {
  width: 4.5rem;
  border: 1px solid transparent;
  background-color: rgba(22, 22, 22, 0.075);
  position: absolute;
  top: 0;
  right: 0;
}
input {
  outline: none;
  border-radius: 0;
  padding: 0.2em 0.5em;
  -webkit-transition: opacity 50ms;
  -o-transition: opacity 50ms;
  transition: opacity 50ms;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: inherit;
}
input:hover {
  opacity: 0.6;
}
input:focus {
  opacity: 1;
}
input::-moz-placeholder {
  color: inherit;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: inherit;
}
input::-webkit-input-placeholder {
  color: inherit;
}
input[type='submit'] {
  cursor: pointer;
}
.post-nav__col {
  width: 50%;
}
.post-nav-item {
  display: block !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.person__thumb,
.project__thumb {
  display: block;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.person__thumb {
  padding-top: 75%;
  margin-bottom: 0.8333335rem;
}
.project__thumb {
  padding-top: 40%;
  margin-bottom: 1.25000025rem;
}
.investment__thumb {
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 50%;
  margin-top: 1.25000025rem;
  margin-bottom: 2.5000005rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  -webkit-transition: opacity 50ms;
  -o-transition: opacity 50ms;
  transition: opacity 50ms;
  opacity: 0.9137254902;
}
.investment__thumb:hover {
  opacity: 0.5482352941;
}
@media only screen and (max-width: 419px) {
  .investment__thumb {
    max-width: 240px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.no-scroll {
  overflow: hidden;
  height: 100%;
}
.is-closed {
  display: none;
}
.iv h1,
.iv h2,
.iv .longform .pull-quote,
.longform .iv .pull-quote,
.iv .mobile-nav__link {
  font-family: 'Permanent Marker', 'adelle-sans', sans-serif;
}
.iv h1:not(:last-child),
.iv h2:not(:last-child),
.iv .longform .pull-quote:not(:last-child),
.longform .iv .pull-quote:not(:last-child),
.iv .mobile-nav__link:not(:last-child) {
  padding-bottom: 3rem;
}
@media only screen and (max-width: 37rem) {
  .iv h1 {
    font-size: 2em;
  }
}
@media only screen and (max-width: 640px) {
  .iv h1 {
    font-size: 1.3em;
  }
}
.iv.popup__body {
  padding-bottom: 1.5rem;
}
.popup__overlay {
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(22, 22, 22, 0.4);
  z-index: 999;
}
.popup__wrapper {
  position: relative;
  background-color: #fff;
  margin: 5.000001rem auto;
  padding: 2.25rem;
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(22, 22, 22, 0.4);
}
@media only screen and (max-width: 810px) {
  .popup__wrapper {
    margin: 4.166667% auto;
    width: 91.666666%;
  }
}
.popup__close {
  float: right;
  color: #161616;
  opacity: 0.4;
  font-size: 2em;
  font-family: 'adelle-sans', sans-serif;
  line-height: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.popup__close:hover {
  opacity: 1;
  cursor: pointer;
}
.popup__logo {
  margin: 0 auto;
  padding: 1.5rem 0 3rem 0;
  text-align: center;
}
.popup__logo__inner {
  display: inline-block;
  position: relative;
}
.post__figure {
  cursor: zoom-in;
  position: relative;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.2, 0, 0.2, 1);
  -moz-transition: -moz-transform 250ms cubic-bezier(0.2, 0, 0.2, 1);
  -o-transition: -o-transform 250ms cubic-bezier(0.2, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.2, 0, 0.2, 1);
}
.is-zoomable {
  overflow: hidden;
}
.zoomable {
  z-index: 2;
}
.zoomable:before {
  background-color: #fff;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -100vh;
  left: -100vw;
  padding: 150vh 100vw;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 250ms, opacity 250ms 0s;
  -o-transition: visibility 0s linear 250ms, opacity 250ms 0s;
  transition: visibility 0s linear 250ms, opacity 250ms 0s;
}
.zoomable.is-zoomed:before {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s linear 0s, opacity 250ms 0s;
  -o-transition: visibility 0s linear 0s, opacity 250ms 0s;
  transition: visibility 0s linear 0s, opacity 250ms 0s;
}
.button,
.post__tag__link {
  display: inline-block;
  font-family: 'adelle-sans', sans-serif;
}
.right:after {
  content: '→';
  margin-left: 0.2em;
}
.left:before {
  content: '←';
  margin-right: 0.2em;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.margin-center {
  margin-left: auto;
  margin-right: auto;
}
.margin-top {
  margin-top: 1.666667rem;
}
.margin-bottom {
  margin-bottom: 1.666667rem;
}
.hidden {
  display: none;
}
.smaller {
  font-size: 0.833333em;
}
.cover {
  display: block;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.color-white {
  color: #fff;
}
.bg-black {
  background-color: #161616;
}
.bg-navy {
  background-color: #262261;
}
.bg-yellow {
  background-color: #faaf40;
}
.bg-green {
  background-color: #00a69c;
}
.bg-purple {
  background-color: #2e6c1d;
}
.bg-red {
  background-color: #e72351;
}
.bg-blue {
  background-color: #277cea;
}
.fade,
.faded {
  transition: opacity 50ms;
}
.fade:hover {
  opacity: 0.6;
}
.faded {
  opacity: 0.4;
}
.faded--60 {
  opacity: 0.6;
}
.faded--80 {
  opacity: 0.8;
}
a.faded:hover {
  opacity: 1;
}
